@charset 'utf-8';

html,
body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  color: #323232;
  height: 100vh;
  box-sizing: border-box;
  background-color: #e7ecef;
  background: fixed;

  a {
    text-decoration: none;
    color: #323232;
  }
}
#root {
  background-color: $grey;
}

/* Enforces border-box for whole site */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* declaring colour variables for future changes */
:root {
  --black: #040403;
  --grey: #5b5b5b;
  --lightGrey: #828489;
  --red: #bb0a21;
  --blue: #88b7b5;
}
/* search input section */
input {
  border: 1px solid var(--lightGrey);
  border-radius: 5px;
  width: 50%;
  height: 30px;
  margin: 10px 12.5% 0 12.5%;
}
.search__input-heading {
  margin: 10px 12.5% 0 12.5%;
}

.hero__body {
  padding: 10px 12.5% 0 12.5%;
  background-color: var(--black);
  color: var(--lightGrey);
  height: 60px;
}
.hero__body-heading {
  margin: 0;
}
.conatiner {
  margin: 0 12.5%;
}

/*-------------dropdown menu----------*/
.dropdown__poster {
  height: auto;
  width: 15%;
}
.dropdown__menu {
  width: 50vw;
}
.dropdown__item {
  margin: 10px;
  display: flex;
  width: 50%;
  margin-left: 24.5%;
}
.dropdown__item-heading {
  /* margin-right: 5%; */
  margin-left: 5%;
}

.not-active {
  display: none;
}
.newMovie {
  width: 50%;
}
/*-------movies----------*/
.movie__details-div {
  display: flex;
}
.movie__details-div-small {
  display: 50%;
}
.movie__details-image {
  width: 30%;
}
